################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/xf_spark_console/.vs/xf_spark_console/FileContentIndex
/xf_spark_console/.vs/xf_spark_console/DesignTimeBuild/.dtbcache.v2
/xf_spark_console/APIConfig.json
.bin     #表示忽略所有 .bin 结尾的文件或目录
.vs
/xf_spark_console/.vs
/xf_spark_console/bin
/xf_spark_console/obj
/SemanticKernel_Demo/APIConfig.json
/SemanticKernel_Demo/APIConfig.json
