﻿################################################################################
﻿# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
﻿################################################################################

﻿# 忽略所有项目的bin和obj文件夹
﻿**/bin/
﻿**/obj/

﻿/xf_spark_console/.vs/xf_spark_console/FileContentIndex
/xf_spark_console/.vs/xf_spark_console/DesignTimeBuild/.dtbcache.v2
/xf_spark_console/APIConfig.json
.bin     #表示忽略所有 .bin 结尾的文件或目录
.vs
.obj
/xf_spark_console/.vs
/xf_spark_console/bin
/xf_spark_console/obj
/SemanticKernel_Demo/APIConfig.json
/SemanticKernel_Demo/APIConfig.json
SemanticKernel_Demo/APIConfig.json
SemanticKernel_Demo/bin/Debug/net9.0/APIConfig.json
SemanticKernel_Demo/bin/Debug/net9.0/Azure.AI.OpenAI.dll
SemanticKernel_Demo/bin/Debug/net9.0/Azure.Core.dll
SemanticKernel_Demo/bin/Debug/net9.0/Microsoft.Bcl.AsyncInterfaces.dll
SemanticKernel_Demo/bin/Debug/net9.0/Microsoft.Bcl.HashCode.dll
SemanticKernel_Demo/bin/Debug/net9.0/Microsoft.Extensions.AI.Abstractions.dll
SemanticKernel_Demo/bin/Debug/net9.0/Microsoft.Extensions.Configuration.Abstractions.dll
SemanticKernel_Demo/bin/Debug/net9.0/Microsoft.Extensions.Configuration.Binder.dll
SemanticKernel_Demo/bin/Debug/net9.0/Microsoft.Extensions.Configuration.dll
SemanticKernel_Demo/bin/Debug/net9.0/Microsoft.Extensions.Configuration.FileExtensions.dll
SemanticKernel_Demo/bin/Debug/net9.0/Microsoft.Extensions.Configuration.Json.dll
SemanticKernel_Demo/bin/Debug/net9.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
SemanticKernel_Demo/bin/Debug/net9.0/Microsoft.Extensions.DependencyInjection.dll
SemanticKernel_Demo/bin/Debug/net9.0/Microsoft.Extensions.FileProviders.Abstractions.dll
SemanticKernel_Demo/bin/Debug/net9.0/Microsoft.Extensions.FileProviders.Physical.dll
SemanticKernel_Demo/bin/Debug/net9.0/Microsoft.Extensions.FileSystemGlobbing.dll
SemanticKernel_Demo/bin/Debug/net9.0/Microsoft.Extensions.Logging.Abstractions.dll
SemanticKernel_Demo/bin/Debug/net9.0/Microsoft.Extensions.Primitives.dll
SemanticKernel_Demo/bin/Debug/net9.0/Microsoft.Extensions.VectorData.Abstractions.dll
SemanticKernel_Demo/bin/Debug/net9.0/Microsoft.SemanticKernel.Abstractions.dll
SemanticKernel_Demo/bin/Debug/net9.0/Microsoft.SemanticKernel.Connectors.AzureOpenAI.dll
SemanticKernel_Demo/bin/Debug/net9.0/Microsoft.SemanticKernel.Connectors.OpenAI.dll
SemanticKernel_Demo/bin/Debug/net9.0/Microsoft.SemanticKernel.Core.dll
SemanticKernel_Demo/bin/Debug/net9.0/Microsoft.SemanticKernel.dll
SemanticKernel_Demo/bin/Debug/net9.0/Newtonsoft.Json.dll
SemanticKernel_Demo/bin/Debug/net9.0/OpenAI.dll
SemanticKernel_Demo/bin/Debug/net9.0/SemanticKernel_Demo.deps.json
SemanticKernel_Demo/bin/Debug/net9.0/SemanticKernel_Demo.dll
SemanticKernel_Demo/bin/Debug/net9.0/SemanticKernel_Demo.exe
SemanticKernel_Demo/bin/Debug/net9.0/SemanticKernel_Demo.pdb
SemanticKernel_Demo/bin/Debug/net9.0/System.ClientModel.dll
SemanticKernel_Demo/bin/Debug/net9.0/System.Memory.Data.dll
SemanticKernel_Demo/bin/Debug/net9.0/System.Numerics.Tensors.dll
SemanticKernel_Demo/bin/Debug/net9.0/SemanticKernel_Demo.deps.json
SemanticKernel_Demo/bin/Debug/net9.0/SemanticKernel_Demo.dll
SemanticKernel_Demo/bin/Debug/net9.0/SemanticKernel_Demo.exe
SemanticKernel_Demo/bin/Debug/net9.0/SemanticKernel_Demo.pdb
SemanticKernel_Demo/bin/Debug/net9.0/SemanticKernel_Demo.deps.json
SemanticKernel_Demo/bin/Debug/net9.0/SemanticKernel_Demo.dll
SemanticKernel_Demo/bin/Debug/net9.0/SemanticKernel_Demo.exe
SemanticKernel_Demo/bin/Debug/net9.0/SemanticKernel_Demo.pdb
SemanticKernel_Demo/bin/Debug/net9.0/SemanticKernel_Demo.deps.json
SemanticKernel_Demo/bin/Debug/net9.0/SemanticKernel_Demo.dll
SemanticKernel_Demo/bin/Debug/net9.0/SemanticKernel_Demo.exe
SemanticKernel_Demo/bin/Debug/net9.0/SemanticKernel_Demo.pdb
SemanticKernel_Demo/obj/project.assets.json
SemanticKernel_Demo/obj/project.nuget.cache
SemanticKernel_Demo/obj/SemanticKernel_Demo.csproj.nuget.dgspec.json
SemanticKernel_Demo/obj/SemanticKernel_Demo.csproj.nuget.g.targets
SemanticKernel_Demo/obj/Debug/net9.0/apphost.exe
SemanticKernel_Demo/obj/Debug/net9.0/Semantic.1D3CE0AF.Up2Date
SemanticKernel_Demo/obj/Debug/net9.0/SemanticKernel_Demo.AssemblyInfo.cs
SemanticKernel_Demo/obj/Debug/net9.0/SemanticKernel_Demo.AssemblyInfoInputs.cache
SemanticKernel_Demo/obj/Debug/net9.0/SemanticKernel_Demo.assets.cache
SemanticKernel_Demo/obj/Debug/net9.0/SemanticKernel_Demo.csproj.AssemblyReference.cache
SemanticKernel_Demo/obj/Debug/net9.0/SemanticKernel_Demo.csproj.CoreCompileInputs.cache
SemanticKernel_Demo/obj/Debug/net9.0/SemanticKernel_Demo.csproj.FileListAbsolute.txt
SemanticKernel_Demo/obj/Debug/net9.0/SemanticKernel_Demo.dll
SemanticKernel_Demo/obj/Debug/net9.0/SemanticKernel_Demo.pdb
SemanticKernel_Demo/obj/Debug/net9.0/SemanticKernel_Demo.sourcelink.json
SemanticKernel_Demo/obj/Debug/net9.0/ref/SemanticKernel_Demo.dll
SemanticKernel_Demo/obj/Debug/net9.0/refint/SemanticKernel_Demo.dll
SemanticKernel_Demo/bin/Debug/net9.0/SemanticKernel_Demo.deps.json
SemanticKernel_Demo/bin/Debug/net9.0/SemanticKernel_Demo.dll
SemanticKernel_Demo/bin/Debug/net9.0/SemanticKernel_Demo.exe
SemanticKernel_Demo/bin/Debug/net9.0/SemanticKernel_Demo.pdb
/WebAPI_demo
/SemanticKernel_Demo/bin/Debug/net9.0
